@import '../scss/color.scss';

.Chat{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Message{
        .List-message{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            gap: 1em;
            height: 65vh;
            overflow-y: scroll;
            padding: 1em;
            font-size: 5em;

            .message{
                color: $white_primary;
            }
        }
        .send-message{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: 1em;

            .input-send{
                border: solid 1px #ccc;
                border-radius: 10px;
                width: 10vw;
            }
            .btn-send{
                border: none;
                width: 10vw;
                border-radius: 10px;
                background-color: $black_primary;
                color: $white_primary;
            }
        }


    }

}